<div class="d-flex">
    <div class="flex-shrink-0">
        <nav class="navbar navbar-dark bg-dark flex-column">
            <a class="navbar-brand" href="{% url 'index' %}">DanceDjango</a>
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news_home' %}">Новостная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Услуги</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="flex-grow-1">
        <!-- Основное содержимое страницы -->
        {% block content %}{% endblock %}
    </div>
</div>